{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <div class="mb-3">
        PORTFOLIO
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
       <tbody>

            {% for stock in stocks %}
                {% if stock.SHARES != 0 %}
                    <tr>
                        <td class="text-start">{{ stock.symbol }}</td>
                        <td class="text-start">{{ stock.stock }}</td>
                        <td class="text-end">{{ stock.SHARES }}</td>
                        <td class="text-end">{{ "$%.2f"|format(stock.price) }}</td>
                        <td class="text-end">{{ "$%.2f"|format(stock.TOTAL) }}</td>
                    </tr>
                {% endif %}
            {% endfor %}

        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                <td class="border-0 text-end">{{ cash }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ totalMoney }}</td>
            </tr>
        </tfoot>
    </table>

{% endblock %}
